<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}">

    <title>{% block title %}{% endblock %} | Purelind</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/blog.css" rel="stylesheet">
</head>
<body>

{% block post_content %}
{% endblock %}

{% block page_content %}

{% import "bootstrap/wtf.html" as wtf %}

<div class="container">
    <div style="text-align: center; padding-top: 50px;padding-bottom: 40px">
        <h1>Login</h1>
    </div>
    <div style="width: 400px; margin: auto">
        {{ wtf.quick_form(form) }}
    </div>
</div>

{% endblock %}


</body>

</html>
