
article {
  /*float: left;*/
  /*width: 800px;*/
  /*margin: 0 0 17px 0;*/
  /*background: #FFF;*/
  /*border: 2px solid #eee;*/
  /*border-radius: 7px 7px 7px 7px;*/
  /*-moz-border-radius: 7px 7px 7px 7px;*/
  /*-webkit-border: 7px 7px 7px 7px;*/
  /*padding: 0 15px 5px 13px;*/
  width: 860px;
    height: 150px;
  border: 2px solid #EEEEEE;
  margin: 0 0 17px 0;
  border-radius: 7px 7px 7px 7px;
  padding: 0 15px 5px 13px;
}

article h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizelegibility;
    margin-bottom: 1em;
    padding: 5px 0 0 0;
    font-weight: bold;
}


h1.title-link {
    font-family: 'Crimson Text', serif;
    font-weight: normal;
}

h1.title {
    font-family: 'Crimson Text', serif;
    font-weight: normal;
}

.title-link a {
    color: #000000;
    text-decoration: none;  /* link has underline by default */
}

.title-link a:hover {
    color: rgb(1, 129, 235);
    text-decoration: none;
}

.blog-index {
   float: left;
  padding: 5px;
}

div.pagination {
    text-align: center;
    font-size: .95em;
    position: relative;
    background: top left repeat-x;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-top: 10px;
    margin-left: 55px;
    margin-right: 55px;
}

div.pagination a {
    text-decoration: none;
    color: #aaa;
}

div.pagination a:hover {
    color: rgb(1, 129, 235);
}

div.pagination a.prev {
    position: absolute;
    right: 0;
}

div.pagination a.next {
    position: absolute;
    left: 0;
}

.adminpagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}