/* unvisited link */
a:link {
    color: #262a30;
    text-decoration: none;
    font-weight: normal;
}

/* visited link */
a:visited {
    color: #262a30;
    text-decoration: none;
        font-weight: normal;

}

/* mouse over link */
/* selected link */
a:hover, a:active {
    color: #4f92ff;
    text-decoration: none;
    font-weight: normal;

}


.nav {
    width: 60%;
    margin: 0 auto;
    background-color: whitesmoke;
}

article {
    width: 60%;
    margin: 0 auto;
    /*background-color: whitesmoke;*/
    display: block;
    /*border: 2px solid lemonchiffon;*/
    /*padding: 25px;*/
    padding-left: 55px;
    padding-right: 43px;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
}

header {
        margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    background: none;
        /*color: rgb(150, 150, 150);*/
        font-family: "Lato", "Verdana", sans-serif;

}

.nav__left {
    float: left;
    padding-top: 25px;
    word-spacing: 13px
}

.nav__right {
    float: right;
    padding-top: 25px;
    word-spacing: 13px
}

.intro {
    width: 60%;
    margin: 0 auto;
    padding-top: 40px;
}
.intro__head {
    text-align: center;
    padding-top: 40px;
}

.intro__sub {
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 20px;
    padding-top: 10px
}

footer {
    width: 60%;
    display: block;
    /*max-width: 1200px;*/
    overflow: hidden;
    margin: 0 auto;
}


footer#site-footer {
  font-family: 'lucida sans', sans-serif;
  font-size: 90%;
  height: 60px;
  /*padding: 20px 0 5px 0;*/
  text-align: center;
  color: #A8AA94;
  /*margin: 0 0 0 0;*/
}

.link-email {
 word-spacing: 10px;
}

.link-github {

}

.link-twitter {

}

.link-instagram {

}

div.pagination {
    text-align: center;
    font-size: .95em;
    font-weight: bold;
    position: relative;
    /*background: url("../images/title_bg.png") top left repeat-x;*/
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    width: 60%;
    margin: 0 auto;
}

div.pagination a {
    text-decoration: none;
    color: #aaa;
}

div.pagination a:hover {
    color: rgb(1, 129, 235);
}

div.pagination a.prev {
    position: absolute;
    right: 0;
}

div.pagination a.next {
    position: absolute;
    left: 0;
}
