{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Purelind's blog{% endblock %}
{% block pagescss %}{% endblock %}

{% block navheader %}
<header>
    <div id="logo">
        <div id="logo_text">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="index.html">Blog's<span class="logo_colour">Admin</span></a></h1>
            <h2>admin panel</h2>
        </div>
    </div>
    <nav>
        <div id="menu_container">
            <ul class="sf-menu" id="nav">
                <li><a href="/admin">Home</a></li>
                <li><a href="/create">Create</a></li>
                <li><a href="/admin/postlist">PostList</a></li>
            </ul>
        </div>
    </nav>
</header>
{% endblock %}

{% block content %}
{% endblock %}

{% block formcontent %}
{% endblock %}

{% block sidebar %}
{% endblock %}