{% extends "base.html" %}

{% block title %}
  About site&me
{% endblock %}

{% block content %}
<article>
  <p>南方长大，在北方上学，体验过四年冰雪，再次回到南方。</p>
  <p>这里是我的个人博客， 采用Flask框架搭建，记录自己学习困惑，学习笔记，也是书写文字的地方。</p>
  <p>你还可以在这些地方找到我：twitter，github，或者发邮件给我，链接见右侧 Social-Media Links。</p>
  <p>除非特别说明，这里的文字皆为原创。</p>
  <p>这里的文章均采用<a href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">知识共享 3.0 许可协议进行版权许可</a>。
    您可以转载，但必须注明来源（包括微信公众号）。您不得将其用于商业目的。</p>

  <h2>编程</h2>
  <p>Python和Shell是我目前经常使用的语言，Python简洁易理解还强大, Shell在日常使用Linux中必不可缺。目前在在努力学习Docker容器和Kubernets容器调度，
      所以免不了和Go语言打交道。</p>

  <h2>读书</h2>
  <p>关于读书，自己读的第一本确切的名著是高尔基的《童年》，真是傻的可以，书名给自己的错觉吧。一直喜欢
      对于细节环境心理的大段描写，否则《巴黎圣母院》就弃了，也可能是这几本书培养的薰陶使得我对于这些细节描写入迷。</p>
  <p>许多书给自己带来沉浸感需要特定的时机，在一定的时间段所读的书会给自己带来更深的满足感和代入感。</p>
  <p>红楼在高中尝试了几次去读，然而就是没有沉浸感，而那时对于《飘》，对于厚厚的《福尔摩斯》，自己寒假晒着太阳连着几天就看完了，冬日里早上晒着太阳看
    书相当惬意，血字的研究，巴斯克维尔的猎犬，至今记忆尤深。当自己感觉到红楼的魅力的时候已是大学临近毕业：看过高中同桌分享的一个
    <a href="https://www.bilibili.com/video/av1172876/?from=search&seid=4451996396128625769">87红楼视频剪辑</a>之后，
    发现原来87版红楼中的角色美的不可方物，后来才去细读红楼。许多小说我倾向于先看小说，再看影视剧，而红楼于我是个例外。</p>
  <p>同样的还有《围城》，应该是在大二第一次读《围城》，看过方鸿渐一行人在由法归国途中的一段就收了起来，大四下的时候在书店买了一本人民文学出版的精装
    版，再一次找到了沉浸其中的感觉，后来又读过了许多遍。</p>
  <p>此外自己喜欢的几本书：</p>
  <p>李娟的《我的阿勒泰》、《冬牧场》，将她北方生活的细节用平凡的文字的委委道来，可以从她那灵动朴实的字里行间感觉的到北方冬日里的暖意。</p>
  <p>最近又翻读的罗曼・罗兰的《约翰・克里斯朵夫》，小说里关于心理的描述非常之多，许多文字毕业已经两年的自己再次阅读，嘘唏不已。</p>

  <h2>音乐</h2>
  <div style="padding-left: 10px; padding-bottom: 10px">
      <li><a href="http://music.163.com/#/song?id=16411248">Voice in the Eyes - Luigi Rubino</a></li>
  <li><a href="http://music.163.com/#/song?id=2747575">Time to Leave - Iridio</a></li>
  <li><a href="http://music.163.com/#/song?id=20744788">With An Orchid - 雅尼</a></li>
  <li><a href="http://music.163.com/#/song?id=302421">春江花月夜 - 伍芳</a></li>
  <li><a href="http://music.163.com/#/song?id=211250">绿野仙踪 - 陈悦</a></li>
  <li><a href="http://music.163.com/#/song?id=211258">乱红 - 陈悦</a></li>
  <li><a href="http://music.163.com/#/song?id=233974">我的秘密 - GEM</a></li>

  <li><a href="http://music.163.com/#/song?id=27646196">莉莉安 - 宋冬野</a></li>
  </div>

  <h2>关于网站</h2>
  <p>自己书写文字的地方，记录自己的轨迹。如果想要了解博客的搭建过程，见<a href="https://www.purelind.com/post/3">这篇文章</a>。</p>

</article>
{% endblock %}

