{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block navheader %}
    <header style="width: 60%; margin: 0 auto; padding-bottom: 100px">
        <div class="nav__left" style="">
            <div id="logo_text">
                <!-- class="logo_colour", allows you to change the colour of the text -->
                <a href="/admin">DASHBOARD</a>
            </div>
        </div>
        <div class="nav__right" style="">
            <div id="menu_container">
                <a target="_blank" href="/create" class="link-create">Create</a>
                <a target="_blank" href="/admin/logout" class="link-logout">Logout</a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <article>
        {% for post in posts %}
            <hr style="    border: 0;
                    height: 1px;
                    {#    width: 60%;#}
                    background: #333;
                    background-image: linear-gradient(to right, #ccc, #ccc, #ccc);">
            <div style="margin: auto; border: 3px solid white; padding: 2px">
                <a  href="/post/{{ post.id }}"><h3>{{ post.title }}</h3></a>
                <p >{{ momentjs(post.created).format("LL") }}</p>
                <a  href="/edit/{{ post.id }}"><h5 href="/edit/{{ post.id }}">Edit</h5></a>
            </div>
        {% endfor %}
        <hr style="    border: 0;
                height: 1px;
                {#    width: 60%;#}
                background: #333;
                background-image: linear-gradient(to right, #ccc, #ccc, #ccc);">
    </article>




{% endblock %}
