{% extends "base_admin.html" %}
{% import "_macros.html" as macros %}

{% block title %}Purelind's blog{% endblock %}

{% block page_content %}
<ul class="container">
    {% for post in posts %}
    <a href="/post/{{ post.id }}"><h3 style="color:#334444;">{{ post.title }}</h3></a>
    <p class="blog-post-meta">{{ post.created }}</p>

    <a href="/edit/{{ post.id }}"><p href="/edit/{{ post.id }}">Edit</p></a>
    {% endfor %}
</ul>

<div class="container">
    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.admin') }}
    </div>
    {% endif %}
</div>
{% endblock %}