{% extends "base.html" %}

{% block title %}
    Archives
{% endblock %}

{% block content %}
    <article>
        {% for post in posts %}
                    <hr style="    border: 0;
    height: 1px;
{#    width: 60%;#}
    background: #333;
    background-image: linear-gradient(to right, #ccc, #ccc, #ccc);">

            <div style="margin: auto; border: 3px solid white; padding: 2px">

                <p>
                    <a href="/post/{{ post.id }}">
                        {{ post.title }}
                    </a>
                    <span
                            style="float: right; position: relative; font-weight: lighter;">{{ momentjs(post.created).format("LL") }}
                </span>
                </p>
            </div>

        {% endfor %}
            <hr style="    border: 0;
    height: 1px;
{#    width: 60%;#}
    background: #333;
    background-image: linear-gradient(to right, #ccc, #ccc, #ccc);">
    </article>

{% endblock %}
