<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}">

    <title>{% block title %}{% endblock %} | Purelind</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/blog.css" rel="stylesheet">
</head>
<body>
    {% block nav %}

    <div class="container" >
        <nav class="navbar navbar-inverse" >
            <div class="container " >
        <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                         data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                     </button>
                    <header>
                        <div class="container" >
                            <h2><a href="/">Purelind</a></h2>
                         </div>
                    </header>
            <nav>
                <div class="container col-md-8 col-md-offset-6">
                    <ul >
                        <a class="navbar-brand"  href="/">Home</a>
                        <a class="navbar-brand"  href="#">Project</a>
                        <a class="navbar-brand" href="#">About site&me</a>
                        <a class="navbar-brand" href="#">Archives</a>
                        <a class="navbar-brand" href="#">Blogroll</a>
                    </ul>
                </div>
            </nav>
    </div>
      </div>
    </nav>
    </div>
    {% endblock %}
    {% block body %}
    {% endblock %}



    {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert-warning">
            <button type="button" class="close" data-dismiss="">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        {% block page_content %}
    {% endblock %}
    </div>
    {% endblock %}
    <footer class="blog-footer navbar-fixed-bottom">
        <p>
            <a href="/">Home</a> |
            <a href="#">Archives</a> |
            <a href="/about">About</a> |
            <a href="#">Projects</a>
        </p>
        <p>
            <a href="http://purelind.com">@ Purelind 2017</a> |
            <a href="https://github.com/purelind">Github</a> |
            <a href="https://linode.com">Hosted on
                Linode</a> |
            <a href="http://flask.pocoo.org">Build on Flask</a>|
            <a href="http://getbootstrap.com">Design from Bootstrap</a>

        </p>
    </footer>
</body>

</html>