<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}">

    <title>{% block title %}{% endblock %} | Purelind</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/blog.css" rel="stylesheet">
</head>
<body>
{% block nav %}

<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container ">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <header>
                    <div class="container">
                        <h2><a href="/">Purelind</a></h2>
                    </div>
                </header>
                <nav>
                    <div class="container col-md-8 col-md-offset-6">
                        <ul>
                            <a class="navbar-brand" href="/">Home</a>
                            <a class="navbar-brand" href="/projects">Project</a>
                            <a class="navbar-brand" href="/about">About site&me</a>
                            <a class="navbar-brand" href="/archives">Archives</a>
                            <a class="navbar-brand" href="/blogroll">Blogroll</a>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </nav>
</div>
{% endblock %}
{% block post_content %}
{% endblock %}

{% block page_content %}

{% endblock %}

<div class="blog-footer">
    <ul>
        <a href="http://purelind.com">@ 2017 Purelind </a> |
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="https://github.com/purelind">Github</a> |
        <a href="https://github.com/purelind">Twitter</a> |

    </ul>

    <a href="http://flask.pocoo.org">Build on Flask</a>
    <a href="purelind.com">
        <img src="/static/footicon.ico"
             alt="Purelind">
    </a>
    <a href="https://linode.com">Hosted on Linode</a>

</div>


</body>
</html>