{% extends "base.html" %}

{% block content %}
<article>
    <header style="text-align: center">
        <h1>简历</h1>
    </header>
    <div class="content">
        <h2>吴礼富</h2>
        <p>邮箱：<a href="mailto:purelind@gmail.com">purelind@gmail.com</a></p>
        <p>主页：<a href="http://purelind.com">purelind.com</a></p>
        <p>Github：<a href="https://github.com/purelind">purelind</a></p>

        <h2>学历和工作</h2>
        <p>2017.03 - 现在：  学习python，同时接触了Java/JavaScript</p>
        <p>2015.7 - 2017.3： 浙江钱江机器人： 电气技术员</p>
        <p>2011.9 - 2015.7： 哈尔滨理工大学：测控技术与仪器， 工学士</p>

        <h2>发展方向</h2>
        <p>web开发和数据分析</p>

        <h2>技能</h2>
        <h3>平台: </h3>
        <p>主力Debian，服务器同Debian，偶尔使用Windows</p>
        <p>编辑器：通常使用vim， 偶尔emacs；IDE使用Pycharm，偶尔Vscode； Java编程使用Drjava； Windows使用Pycharm</p>

        <h3>工具：</h3>
        <p>第一队列：Python, JavaScript, Html, CSS, Java, Mysql</p>
        <p>第二队列：AutoCAD, ProE</p>

        <h2>主要项目</h2>
        <h3>个人主页：</h3>
        <p>简介：记录学习笔记的个人博客</p>
        <p>规模：小</p>
        <p>性质：个人</p>
        <p>相关技能：Flask, Html, CSS, JavaScript, BootStrap, Nginx</p>
        <p>项目源：<a href="https://github.com/purelind/glowing-octo-potato">github源码</a></p>

        <h2>学习课程</h2>
        <h3>MITx-6.00.1x</h3>
        <p>课程名称：Introduction to Computer Science and Programming Using Python</p>
        <p>平台：edx</p>
        <p>课程内容：python基础</p>

        <h3>Algorithm Part I</h3>
        <p>课程名称：Algorithm Part I</p>
        <p>平台： Coursera</p>
        <p>课程内容： 数据结构和算法基础</p>
    </div>

</article>
{% endblock %}