<!DOCTYPE html>
<html>
<title>Resume | purelind.com</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="../static/assets/images/egg.png" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>吴礼富</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Python开发工程师</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>中国 - 深圳</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="mailto:purelind@gmail.com">purelind@gmail.com</a></p>
          <p><i class="fa fa-github fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="https://github.com/purelind">https://github.com/purelind</a></p>
            <p><i class="fa fa-desktop fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="http://purelind.com">http://purelind.com</a></p>
            <p><i class="fa fa-cloud-download fa-fw w3-margin-right w3-large w3-text-teal"></i>中文简历</p>

          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>相关技能</b></p>

                <p><i class="fa fa-chevron-circle-right fa-fw w3-margin-right w3-large w3-text-teal"></i>掌握基本数据结构和算法。</p>
            <p><i class="fa fa-chevron-circle-right fa-fw w3-margin-right w3-large w3-text-teal"></i>了解 tcp/ip协议和常见网络模型。</p>
            <p><i class="fa fa-chevron-circle-right fa-fw w3-margin-right w3-large w3-text-teal"></i>掌握Flask框架, 了解Django基础。</p>
            <p><i class="fa fa-chevron-circle-right fa-fw w3-margin-right w3-large w3-text-teal"></i>Python基础扎实，熟悉Python标准库。</p>
            <p><i class="fa fa-chevron-circle-right fa-fw w3-margin-right w3-large w3-text-teal"></i>掌握Linux基本操作和命令，熟悉Git版本控制。</p>
            <p><i class="fa fa-chevron-circle-right fa-fw w3-margin-right w3-large w3-text-teal"></i>有Mysql/SQLite使用经验，能够设计基本数据库。</p>
            <p><i class="fa fa-chevron-circle-right fa-fw w3-margin-right w3-large w3-text-teal"></i>平台：主力Debian，服务器Debian，偶尔使用Windows。</p>
            <p><i class="fa fa-chevron-circle-right fa-fw w3-margin-right w3-large w3-text-teal"></i>编辑器：通常使用 Vim，偶尔 Emacs； IDE使用 Pycharm，偶尔vscode。</p>




          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>语言能力</b></p>
          <p>CET-6 良好的英文阅读书写能力。</p>
            <p>逻辑思维清晰，文档书写习惯良好。</p>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>项目介绍</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>基于flask搭建的个人博客</b></h5>

          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017.7 - 现在</h6>
            <p><i class="fa fa-chrome fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="http://purelind.com">http://purelind.com</a></p>
          <p><span class="w3-tag w3-teal w3-round">项目背景</span>
              尝试过WordPress和github.io搭建个人博客；学习过flask之后，产生vps上独立搭建flask框架博客的想法，借此熟悉前后端相关知识，培养自己记录文字的习惯。
          </p>
          <p><span class="w3-tag w3-teal w3-round">项目技术</span>
              Debian， Nginx， Flask，Gunicorn， Fabric，Supervisor，MariaDB，Bootstrap，HTML+CSS+JavaScript， Https。
</p>
            <p><span class="w3-tag w3-teal w3-round">项目成果</span>
                搭建博客的过程中，加深了对于flask的实现细节的理解，对于应用启动流程，路由，上下文，请求和响应等概念有了更为清晰的认识；通过
                SQLAlchemy对于数据库的操作，对于数据库有了更全面的理解；通过在w3.school学习前端相关知识，掌握html+css+js基础，同时利用
                Bootstrap和w3.css对网页进行修改。程序的部署过程中：接触了nginx配置，通过gunicorn代理flask应用，通过Supervisor进行
                管理；申请并配置了ssl证书，对网站进行了https加密；对于网站优化，利用Flask-Assets压缩css/js，优化网页加载速度；利用
                Flask-Cache实现网页缓存加速。
</p>
            <p><span class="w3-tag w3-teal w3-round">项目源</span><a href="https://github.com/purelind/My_blog_purelind"> https://github.com/purelind/My_blog_purelind</a></p>



            <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Django实现的Todo-List</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017.8 - 2017.9</h6>
            <p><i class="fa fa-chrome fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="http://todolist.purelind.com">http://todolist.purelind.com</a></p>
             <p><span class="w3-tag w3-teal w3-round">项目介绍</span> 利用Django实现的Todo-List应用，通过与flask框架的对比学习，熟悉了django搭建web应用的流程和细节。

</p>
            <p><span class="w3-tag w3-teal w3-round">项目技术</span> Nginx，uWSGI，Django, Supervisor，SQLite，Bootstrap。</p>
            <p><span class="w3-tag w3-teal w3-round">项目成果</span> Todo-List前端使用Bootstrap实现，数据库方面因为交互的数据量不大，采用的是Django自带的SQLite；部署方面，由于已经有一个域名，所以通过nginx代理将该应用部署在二级域名上面；同时使用uwsgi进行应用代理。
</p>
            <p><span class="w3-tag w3-teal w3-round">项目源</span><a href="https://github.com/purelind/Todo_List_Django"> https://github.com/purelind/Todo_List_Django</a></p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>基于redis的知乎分布式爬虫</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017.8 - 2017.9</h6>
          <p>待完成 </p><br>
            <p><span class="w3-tag w3-teal w3-round">项目背景</span></p>
            <p><span class="w3-tag w3-teal w3-round">项目技术</span></p>
            <p><span class="w3-tag w3-teal w3-round">项目成果</span></p>
            <p><span class="w3-tag w3-teal w3-round">项目源</span></p>
        </div>
      </div>

      <div class="w3-container w3-card-2 w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>工作&学历</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>自学 - 后端开发 - Python/Java/JavaScript</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017.3 - 现在</h6>
          <p>电子转软件，由Python入门，期间学习了Java和JavaScript基础，意向从事web开发工作。</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>浙江钱江机器人有限公司 - 台州 - 电气工程师</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015.7 - 2017.3</h6>
          <p>任职电气部门，负责工业机器人电气配件选型，绘制电气图纸。</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>哈尔滨理工大学 - 本科 - 工学士</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2011.9 - 2015.7</h6>
          <p>测控技术与仪器 - 测控技术与通信工程学院</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Thanks for your visiting.</p>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>